SuperErp_ModuleFacture/ModuleFactureUserControl/Service References/FacturationService/FacturationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FacturationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7880/FacturationWCF/FacturationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7880/FacturationWCF/FacturationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7880/FacturationWCF/FacturationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SupErp.DAL.FacturationModele" />
      <xsd:import schemaLocation="http://localhost:7880/FacturationWCF/FacturationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SupErp.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFacturationService_GetListQuotation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListQuotation" />
  </wsdl:message>
  <wsdl:message name="IFacturationService_GetListQuotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="IFacturationService_SearchBillQuotation_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchBillQuotation" />
  </wsdl:message>
  <wsdl:message name="IFacturationService_SearchBillQuotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchBillQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="IFacturationService_GetBillQuotation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBillQuotation" />
  </wsdl:message>
  <wsdl:message name="IFacturationService_GetBillQuotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBillQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="IFacturationService_GetAllLines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLines" />
  </wsdl:message>
  <wsdl:message name="IFacturationService_GetAllLines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLinesResponse" />
  </wsdl:message>
  <wsdl:message name="IFacturationService_CreateBillQuotation_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBillQuotation" />
  </wsdl:message>
  <wsdl:message name="IFacturationService_CreateBillQuotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBillQuotationResponse" />
  </wsdl:message>
  <wsdl:message name="IFacturationService_ModifyBillQuotation_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyBillQuotation" />
  </wsdl:message>
  <wsdl:message name="IFacturationService_ModifyBillQuotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyBillQuotationResponse" />
  </wsdl:message>
  <wsdl:portType name="IFacturationService">
    <wsdl:operation name="GetListQuotation">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacturationService/GetListQuotation" message="tns:IFacturationService_GetListQuotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacturationService/GetListQuotationResponse" message="tns:IFacturationService_GetListQuotation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchBillQuotation">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacturationService/SearchBillQuotation" message="tns:IFacturationService_SearchBillQuotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacturationService/SearchBillQuotationResponse" message="tns:IFacturationService_SearchBillQuotation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBillQuotation">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacturationService/GetBillQuotation" message="tns:IFacturationService_GetBillQuotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacturationService/GetBillQuotationResponse" message="tns:IFacturationService_GetBillQuotation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLines">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacturationService/GetAllLines" message="tns:IFacturationService_GetAllLines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacturationService/GetAllLinesResponse" message="tns:IFacturationService_GetAllLines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBillQuotation">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacturationService/CreateBillQuotation" message="tns:IFacturationService_CreateBillQuotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacturationService/CreateBillQuotationResponse" message="tns:IFacturationService_CreateBillQuotation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyBillQuotation">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacturationService/ModifyBillQuotation" message="tns:IFacturationService_ModifyBillQuotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacturationService/ModifyBillQuotationResponse" message="tns:IFacturationService_ModifyBillQuotation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFacturationService" type="tns:IFacturationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListQuotation">
      <soap:operation soapAction="http://tempuri.org/IFacturationService/GetListQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBillQuotation">
      <soap:operation soapAction="http://tempuri.org/IFacturationService/SearchBillQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillQuotation">
      <soap:operation soapAction="http://tempuri.org/IFacturationService/GetBillQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLines">
      <soap:operation soapAction="http://tempuri.org/IFacturationService/GetAllLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBillQuotation">
      <soap:operation soapAction="http://tempuri.org/IFacturationService/CreateBillQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyBillQuotation">
      <soap:operation soapAction="http://tempuri.org/IFacturationService/ModifyBillQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacturationService">
    <wsdl:port name="BasicHttpBinding_IFacturationService" binding="tns:BasicHttpBinding_IFacturationService">
      <soap:address location="http://localhost:7880/FacturationWCF/FacturationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>