SuperErp_ModuleFacture/ModuleFactureUserControl/Service References/FacturationService/FacturationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SupErp.DAL.FacturationModele" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SupErp.DAL.FacturationModele" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7880/FacturationWCF/FacturationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SupErp.Entities" />
  <xs:complexType name="ArrayOfBillQuotationLight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillQuotationLight" nillable="true" type="tns:BillQuotationLight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillQuotationLight" nillable="true" type="tns:ArrayOfBillQuotationLight" />
  <xs:complexType name="BillQuotationLight">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SupErp.Entities" base="q1:BILL_BillQuotation">
        <xs:sequence>
          <xs:element minOccurs="0" name="AmountTTC" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BillQuotationLight" nillable="true" type="tns:BillQuotationLight" />
</xs:schema>